fastapi
uvicorn[standard]
pydantic
pandas
xgboost
scikit-learn
joblib
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
openpyxl
reportlab
